<footer >
    <section class="section-1 ">
        <div class="container ">
            <div class="row text-center px-3 px-lg-0">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div>
                        <h4 class="text-uppercase h3">LOCATION</h4>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                    </div>
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div>
                        <h4 class="text-uppercase h3 mb-3">AROUND THE WEB</h4>
                        <div class="social-icon d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-facebook-f me-4 fs-5"></i>
                        <i class="fa-brands fa-twitter me-4 fs-5"></i>
                        <i class="fa-brands fa-linkedin me-4 fs-5"></i>
                        <i class="fa-solid fa-globe fs-5 "></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div>
                        <h4 class="text-uppercase h3">ABOUT FREELANCER</h4>
                        <p>Freelance is a free to use, licensed Bootstrap theme created by Route
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-2 d-flex justify-content-center align-items-center py-4">
        <p class=" m-0">Copyright &#169; Your Website 2021</p>
    </section>
</footer>
