
<section class="min-vh-100 d-flex justify-content-center align-items-center " >
    <div class=" container ">
          <div class="about-content ">
           <div class="header  d-flex flex-column align-items-center">
            <h1 class="text-uppercase fw-bold text-center">about component</h1>
            <app-header-style ></app-header-style>
           </div>
            <div class="row text-center">
                <div class="col-lg-6">
                    <p >Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>

                <div class="col-lg-6">
                    <p >Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
                
            </div>
          </div>
    </div>
</section>